imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: doctrine_extensions.yml }

framework:
    #esi:             ~
    translator: ~
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true
        mappings:
#            gedmo_translatable:
#                type:      annotation
#                prefix:    Gedmo\Translatable\Entity
#                dir:       "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
#                is_bundle: false
#                # el alias es opcional, por defecto se utiliza la clave de este mapeo
#                alias:     GedmoTranslatable
#            gedmo_translator:
#                type:      annotation
#                prefix:    Gedmo\Translator\Entity
#                dir:       "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Entity"
#                is_bundle: false
#                # el alias es opcional, por defecto se utiliza la clave de este mapeo
#                alias:     GedmoTranslator
            gedmo_loggable:
                type:      annotation
                prefix:    Gedmo\Loggable\Entity
                dir:       "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                is_bundle: false
                # el alias es opcional, por defecto se utiliza la clave de este mapeo
                alias:     GedmoLoggable
#            gedmo_tree:
#                type:      annotation
#                prefix:    Gedmo\Tree\Entity
#                dir:       "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
#                is_bundle: false
#                # el alias es opcional, por defecto se utiliza la clave de este mapeo
#                alias:     GedmoTree

#doctrine extentions
#stof_doctrine_extensions:
#    default_locale: "%locale%"
#    translation_fallback: true
#    orm:
#        default:
#            timestampable: true
#            blameable: true
#            sluggable: true

# Swiftmailer Configuration
swiftmailer:
    transport: gmail
    username: ~ 
    password: ~

#ps_pdf:
#    nodes_file: ~
#    fonts_file: ~
#    complex_attributes_file: ~
#    colors_file: ~
#    use_cache_in_stylesheet: ~
#    cache:
#      type: ~
#      options: ~
#    markdown_stylesheet_filepath: ~
#    markdown_document_template_filepath: ~
#    document_parser_type: ~
    
#backup_restore: ~