<ul class="jqueryFileTree" style="display: none;">

{%for file in files%}
    {%if file != '.' and  file != '..' and ((file|first)!='.') and (not ( '.' in file ))%}
<li class="directory collapsed">
    <a href="#" onclick="return false;" rel="{{dir}}{{file}}/"> {{file}}</a>
        </li>
{%endif%}
{%else%} 
        <li class="directory collapsed">
        <a href="#" onclick="return false;" rel=""> Vacio</a>
        </li>
{%endfor%}		
</ul>
		
			
		
		
		{#foreach( $files as $file ) {
			if( file_exists($root . $_POST['dir'] . $file) && $file != '.' && $file != '..' && !is_dir($root . $_POST['dir'] . $file) ) {
				$ext = preg_replace('/^.*\./', '', $file);
				echo "<li class=\"file ext_$ext\"><a href=\"#\" rel=\"" . htmlentities($_POST['dir'] . $file) . "\">" . htmlentities($file) . "</a></li>";
			}
		}#}
                
                
                
		