{% extends app.request.isXmlHttpRequest ? "::ajax.html.twig" : "SisGGFinalBundle:Cajero:cajero.html.twig" %}
{%if form%}{% form_theme form "SisGGFinalBundle:Form:fields.html.twig" %}{%endif%}
{%block ruta%}
<li>
    <a href="#">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Tipos de Documento</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Nuevo Tipo de Documento</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
            <legend>Nuevo Tipo de Documento</legend>
            <form name="cliente" class="form-horizontal" action="{{ path('nuevo_tipo_documento') }}" method="post">
                <fieldset>
                        {{form_widget(form)}}    
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Guadar Cambios</button>
                    <a href="#" onclick='history.back();' class="btn">Cancelar</a>
                </div>    
            </form>
        </div>
    </div><!--/span-->
</div><!--/row-->
{% endblock %}
{%block javascripts%}
{{parent()}}   
{%endblock%}
{% block ajax %}
{% endblock %}
