<pdf>
<page page-size="150:250" padding='20px' margin='0px'>
    <p></p>
    <img width='100%' src="/tmp/QrCode.png" />
    <div width='100%' text-align='center'>{{pedido.identificacion}}</div>
</page>
</pdf>