{% extends "SisGGFinalBundle:Administrador:admin.html.twig" %}
{%block content%}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
            <legend>Nuevo Permiso</legend>
            <form class="form-horizontal" action="{{ path('nuevo_permiso') }}" method="post">
                <fieldset>
                    <div class="span6 pull-left">
                        {{form_widget(form)}}
                    </div>    
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <a href="#"  class="btn">Cancel</a>
                </div>    
            </form>
        </div>
    </div><!--/span-->
</div><!--/row-->
{%endblock%}
